@import url(https://fonts.googleapis.com/css?family=Carme:regular);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

summary {
  list-style: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

address {
  font-style: normal;
}

.header {
  padding-block: 1.5625rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.header.scrolled::before {
  background: rgba(248, 243, 236, 0.8);
  backdrop-filter: blur(20px);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 76.875em) {
  .header__inner {
    gap: 70px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__inner {
    gap: clamp( 10px , -11.0989010989px  +  6.5934065934vw , 70px );
  }
}
@media (max-width: 20em) {
  .header__inner {
    gap: 10px;
  }
}
.header__logo {
  z-index: 5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 76.875em) {
  .header__logo img {
    width: 213px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .header__logo img {
    width: clamp( 140px , 114.3296703297px  +  8.021978022vw , 213px );
  }
}
@media (max-width: 20em) {
  .header__logo img {
    width: 140px;
  }
}
@media (max-width: 45em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 45em) {
  .menu-header {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 243, 236, 0.9);
    padding: 8.75rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }
  .menu-open .menu-header {
    left: 0;
    width: 60%;
  }
  .scroll-lock .menu-open .menu-header {
    overflow: hidden;
  }
  .menu-header::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 4.625rem;
    background-color: rgb(248, 243, 236);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .menu-header::before {
    left: 0;
  }
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 76.875em) {
  .menu-header__list {
    gap: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .menu-header__list {
    gap: clamp( 10px , -4.0659340659px  +  4.3956043956vw , 50px );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    gap: 10px;
  }
}
@media (max-width: 45em) {
  .menu-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 45em) {
  .menu-header__item {
    color: rgb(44, 44, 44);
    font-size: 1.5rem;
  }
}
.menu-header__link {
  -webkit-transition: color 0.3s, text-shadow 0.3s;
  transition: color 0.3s, text-shadow 0.3s;
}
html[data-input=mouse] .menu-header__link:hover {
  color: rgb(44, 44, 44);
  text-shadow: 1px 3px 4px #2C2C2C;
}

.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}
@media (min-width: 76.875em) {
  .action-button {
    -webkit-column-gap: 27px;
       -moz-column-gap: 27px;
            column-gap: 27px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .action-button {
    -webkit-column-gap: clamp( 10px , 4.021978022px  +  1.8681318681vw , 27px );
       -moz-column-gap: clamp( 10px , 4.021978022px  +  1.8681318681vw , 27px );
            column-gap: clamp( 10px , 4.021978022px  +  1.8681318681vw , 27px );
  }
}
@media (max-width: 20em) {
  .action-button {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
.action-button__item {
  line-height: 0;
}
.action-button__link {
  line-height: 0;
  -webkit-transition: color 0.3s, scale 0.4s ease;
  transition: color 0.3s, scale 0.4s ease;
  will-change: scale;
}
.action-button__link::before {
  font-size: 1.25rem;
}
html[data-input=mouse] .action-button__link:hover {
  color: #686868;
  scale: 1.05;
}
.footer {
  border-top: 0.0625rem solid rgb(219, 204, 186);
}
@media (min-width: 76.875em) {
  .footer {
    padding-top: 73px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .footer {
    padding-top: clamp( 30px , 14.8791208791px  +  4.7252747253vw , 73px );
  }
}
@media (max-width: 20em) {
  .footer {
    padding-top: 30px;
  }
}

.body-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 76.875em) {
  .body-footer__container {
    -webkit-column-gap: 227px;
       -moz-column-gap: 227px;
            column-gap: 227px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .body-footer__container {
    -webkit-column-gap: clamp( 30px , -39.2747252747px  +  21.6483516484vw , 227px );
       -moz-column-gap: clamp( 30px , -39.2747252747px  +  21.6483516484vw , 227px );
            column-gap: clamp( 30px , -39.2747252747px  +  21.6483516484vw , 227px );
  }
}
@media (max-width: 20em) {
  .body-footer__container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 52.5em) {
  .body-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 52.5em) and (min-width: 76.875em) {
  .body-footer__container {
    row-gap: 40px;
  }
}
@media (max-width: 52.5em) and (min-width: 20em) and (max-width: 76.875em) {
  .body-footer__container {
    row-gap: clamp( 20px , 12.967032967px  +  2.1978021978vw , 40px );
  }
}
@media (max-width: 52.5em) and (max-width: 20em) {
  .body-footer__container {
    row-gap: 20px;
  }
}
@media (max-width: 31.9375em) {
  .body-footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.body-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 76.875em) {
  .body-footer__inner {
    row-gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .body-footer__inner {
    row-gap: clamp( 20px , 16.4835164835px  +  1.0989010989vw , 30px );
  }
}
@media (max-width: 20em) {
  .body-footer__inner {
    row-gap: 20px;
  }
}
@media (max-width: 31.9375em) {
  .body-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.body-footer__column--last-child {
  max-width: 13rem;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 76.875em) {
  .media {
    row-gap: 70px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .media {
    row-gap: clamp( 25px , 9.1758241758px  +  4.9450549451vw , 70px );
  }
}
@media (max-width: 20em) {
  .media {
    row-gap: 25px;
  }
}
@media (max-width: 31.9375em) {
  .media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.25rem;
}
.social-media__item {
  line-height: 0;
}
.social-media__link {
  position: relative;
}
.social-media__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: rgb(219, 204, 186);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
html[data-input=mouse] .social-media__link:hover::after {
  opacity: 0.8;
}

.column-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 76.875em) {
  .column-body {
    row-gap: 28px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-body {
    row-gap: clamp( 15px , 10.4285714286px  +  1.4285714286vw , 28px );
  }
}
@media (max-width: 20em) {
  .column-body {
    row-gap: 15px;
  }
}
@media (max-width: 31.9375em) {
  .column-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.column-body__title {
  font-family: "KoPub Batang", sans-serif;
  color: #000;
  line-height: 110%; /* 22/20 */
}
@media (min-width: 76.875em) {
  .column-body__title {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-body__title {
    font-size: clamp( 18px , 17.2967032967px  +  0.2197802198vw , 20px );
  }
}
@media (max-width: 20em) {
  .column-body__title {
    font-size: 18px;
  }
}
.column-body__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 76.875em) {
  .column-body__list {
    row-gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-body__list {
    row-gap: clamp( 15px , 13.2417582418px  +  0.5494505495vw , 20px );
  }
}
@media (max-width: 20em) {
  .column-body__list {
    row-gap: 15px;
  }
}
@media (max-width: 31.9375em) {
  .column-body__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.column-body__link {
  line-height: 117.647059%; /* 20/17 */
  -webkit-transition: color 0.3s, text-shadow 0.3s;
  transition: color 0.3s, text-shadow 0.3s;
}
@media (min-width: 76.875em) {
  .column-body__link {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-body__link {
    font-size: clamp( 13px , 11.5934065934px  +  0.4395604396vw , 17px );
  }
}
@media (max-width: 20em) {
  .column-body__link {
    font-size: 13px;
  }
}
html[data-input=mouse] .column-body__link:hover {
  color: rgb(44, 44, 44);
  text-shadow: 1px 3px 4px #2C2C2C;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 31.9375em) {
  .address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 76.875em) {
  .address__list {
    row-gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .address__list {
    row-gap: clamp( 15px , 13.2417582418px  +  0.5494505495vw , 20px );
  }
}
@media (max-width: 20em) {
  .address__list {
    row-gap: 15px;
  }
}
@media (min-width: 76.875em) {
  .address__list {
    margin-bottom: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .address__list {
    margin-bottom: clamp( 10px , 6.4835164835px  +  1.0989010989vw , 20px );
  }
}
@media (max-width: 20em) {
  .address__list {
    margin-bottom: 10px;
  }
}
@media (max-width: 31.9375em) {
  .address__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .address__list .address__item {
    text-align: center;
  }
}
.address__item {
  text-align: right;
}
.address__item:first-child {
  font-family: "KoPub Batang", sans-serif;
  color: #000;
}
@media (min-width: 76.875em) {
  .address__item:first-child {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .address__item:first-child {
    font-size: clamp( 18px , 17.2967032967px  +  0.2197802198vw , 20px );
  }
}
@media (max-width: 20em) {
  .address__item:first-child {
    font-size: 18px;
  }
}
.address__link {
  -webkit-transition: color 0.3s, text-shadow 0.3s;
  transition: color 0.3s, text-shadow 0.3s;
}
@media (min-width: 76.875em) {
  .address__link {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .address__link {
    font-size: clamp( 13px , 11.5934065934px  +  0.4395604396vw , 17px );
  }
}
@media (max-width: 20em) {
  .address__link {
    font-size: 13px;
  }
}
html[data-input=mouse] .address__link:hover {
  color: rgb(44, 44, 44);
  text-shadow: 1px 3px 4px #2C2C2C;
}
.address__schedule {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 31.9375em) {
  .address__schedule {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.bottom-footer {
  padding-bottom: 0.6875rem;
}
@media (min-width: 76.875em) {
  .bottom-footer {
    padding-top: 37px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .bottom-footer {
    padding-top: clamp( 15px , 7.2637362637px  +  2.4175824176vw , 37px );
  }
}
@media (max-width: 20em) {
  .bottom-footer {
    padding-top: 15px;
  }
}
.bottom-footer__container {
  text-align: center;
}
.bottom-footer__copyright {
  text-align: center;
  line-height: 120%; /* 18/15 */
}
@media (min-width: 76.875em) {
  .bottom-footer__copyright {
    font-size: 15px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .bottom-footer__copyright {
    font-size: clamp( 13px , 12.2967032967px  +  0.2197802198vw , 15px );
  }
}
@media (max-width: 20em) {
  .bottom-footer__copyright {
    font-size: 13px;
  }
}

@media (min-width: 76.875em) {
  .page__hero {
    padding-top: 150px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__hero {
    padding-top: clamp( 100px , 82.4175824176px  +  5.4945054945vw , 150px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-top: 100px;
  }
}
@media (min-width: 76.875em) {
  .page__hero {
    padding-bottom: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__hero {
    padding-bottom: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__hero {
    padding-bottom: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__popular {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__popular {
    padding-block: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__popular {
    padding-block: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__memories {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__memories {
    padding-block: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__memories {
    padding-block: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__discount {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__discount {
    padding-block: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__discount {
    padding-block: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__catalog {
    padding-block: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__catalog {
    padding-block: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__catalog {
    padding-block: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__follow {
    padding-top: 50px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__follow {
    padding-top: clamp( 25px , 16.2087912088px  +  2.7472527473vw , 50px );
  }
}
@media (max-width: 20em) {
  .page__follow {
    padding-top: 25px;
  }
}
@media (min-width: 76.875em) {
  .page__follow {
    padding-bottom: 100px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .page__follow {
    padding-bottom: clamp( 50px , 32.4175824176px  +  5.4945054945vw , 100px );
  }
}
@media (max-width: 20em) {
  .page__follow {
    padding-bottom: 50px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}
.hero__container.hero__container--1600 {
  max-width: 100rem;
}
@media (max-width: 43.125em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.column-hero--left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 56.375rem;
          flex: 1 1 56.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.25rem;
}
@media (min-width: 76.875em) {
  .column-hero--left {
    gap: 82px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-hero--left {
    gap: clamp( 30px , 11.7142857143px  +  5.7142857143vw , 82px );
  }
}
@media (max-width: 20em) {
  .column-hero--left {
    gap: 30px;
  }
}
@media (min-width: 76.875em) {
  .column-hero--left:has(.column-hero__title) .column-hero__title {
    padding-left: 200px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-hero--left:has(.column-hero__title) .column-hero__title {
    padding-left: clamp( 10px , -56.8131868132px  +  20.8791208791vw , 200px );
  }
}
@media (max-width: 20em) {
  .column-hero--left:has(.column-hero__title) .column-hero__title {
    padding-left: 10px;
  }
}
@media (max-width: 68.75em) {
  .column-hero--left:has(.column-hero__title) .column-hero__title {
    padding-left: 0;
  }
}
@media (max-width: 43.125em) {
  .column-hero--left {
    padding-top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.column-hero--rigth {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 36.6875rem;
          flex: 1 1 36.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 76.875em) {
  .column-hero--rigth {
    gap: 100px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-hero--rigth {
    gap: clamp( 20px , -8.1318681319px  +  8.7912087912vw , 100px );
  }
}
@media (max-width: 20em) {
  .column-hero--rigth {
    gap: 20px;
  }
}
@media (max-width: 43.125em) {
  .column-hero--rigth {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.column-hero__title {
  font-family: "KoPub Batang", sans-serif;
  line-height: 110%; /* 77/70 */
  font-weight: 300;
}
@media (min-width: 76.875em) {
  .column-hero__title {
    font-size: 70px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-hero__title {
    font-size: clamp( 40px , 29.4505494505px  +  3.2967032967vw , 70px );
  }
}
@media (max-width: 20em) {
  .column-hero__title {
    font-size: 40px;
  }
}
@media (max-width: 43.125em) {
  .column-hero__title {
    text-align: center;
  }
}
.column-hero__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(17.5rem, 100%), 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 76.875em) {
  .column-hero__body {
    gap: 83px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-hero__body {
    gap: clamp( 30px , 11.3626373626px  +  5.8241758242vw , 83px );
  }
}
@media (max-width: 20em) {
  .column-hero__body {
    gap: 30px;
  }
}
@media (max-width: 43.125em) {
  .column-hero__body {
    grid-template-columns: 1fr;
  }
}
.column-hero__image {
  aspect-ratio: 1;
}
.column-hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-hero__image---rigth {
  aspect-ratio: 587/565;
}
.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 3.125rem;
}
@media (max-width: 43.125em) {
  .content-hero__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.popular__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 76.875em) {
  .popular__container {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .popular__container {
    -webkit-column-gap: clamp( 10px , -0.5494505495px  +  3.2967032967vw , 40px );
       -moz-column-gap: clamp( 10px , -0.5494505495px  +  3.2967032967vw , 40px );
            column-gap: clamp( 10px , -0.5494505495px  +  3.2967032967vw , 40px );
  }
}
@media (max-width: 20em) {
  .popular__container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 34.375em) {
  .popular__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 34.375em) and (min-width: 76.875em) {
  .popular__container {
    row-gap: 30px;
  }
}
@media (max-width: 34.375em) and (min-width: 20em) and (max-width: 76.875em) {
  .popular__container {
    row-gap: clamp( 20px , 16.4835164835px  +  1.0989010989vw , 30px );
  }
}
@media (max-width: 34.375em) and (max-width: 20em) {
  .popular__container {
    row-gap: 20px;
  }
}
.column-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30.625rem;
          flex: 1 1 30.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
}
@media (max-width: 34.375em) {
  .column-popular {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.column-popular__image {
  aspect-ratio: 1;
}
.column-popular__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 76.875em) {
  .column-popular__content > * {
    margin-bottom: 49px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-popular__content > * {
    margin-bottom: clamp( 10px , -3.7142857143px  +  4.2857142857vw , 49px );
  }
}
@media (max-width: 20em) {
  .column-popular__content > * {
    margin-bottom: 10px;
  }
}
.content-popular__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media (min-width: 76.875em) {
  .content-popular__top {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .content-popular__top {
    gap: clamp( 10px , 6.4835164835px  +  1.0989010989vw , 20px );
  }
}
@media (max-width: 20em) {
  .content-popular__top {
    gap: 10px;
  }
}
@media (max-width: 37.6875em) {
  .content-popular__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 34.375em) {
  .content-popular__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.content-popular__title {
  font-family: "KoPub Batang", sans-serif;
}
@media (min-width: 76.875em) {
  .content-popular__title {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .content-popular__title {
    font-size: clamp( 14px , 12.5934065934px  +  0.4395604396vw , 18px );
  }
}
@media (max-width: 20em) {
  .content-popular__title {
    font-size: 14px;
  }
}
@media (min-width: 76.875em) {
  .content-popular__price {
    font-size: 15px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .content-popular__price {
    font-size: clamp( 12px , 10.9450549451px  +  0.3296703297vw , 15px );
  }
}
@media (max-width: 20em) {
  .content-popular__price {
    font-size: 12px;
  }
}
.content-popular__text {
  margin-bottom: 1.6875rem;
  max-width: 30.5625rem;
  line-height: 1.37;
}
@media (min-width: 76.875em) {
  .content-popular__text {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .content-popular__text {
    font-size: clamp( 14px , 12.9450549451px  +  0.3296703297vw , 17px );
  }
}
@media (max-width: 20em) {
  .content-popular__text {
    font-size: 14px;
  }
}
.content-popular__button {
  margin-bottom: 0.625rem;
  margin-left: 0.625rem;
}
@media (max-width: 34.375em) {
  .content-popular__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.row-popular {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41.875rem;
          flex: 1 1 41.875rem;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 34.375em) {
  .row-popular {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 76.875em) {
  .row-popular__title {
    margin-bottom: 61px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .row-popular__title {
    margin-bottom: clamp( 30px , 19.0989010989px  +  3.4065934066vw , 61px );
  }
}
@media (max-width: 20em) {
  .row-popular__title {
    margin-bottom: 30px;
  }
}
.row-popular__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(13.125rem, 100%), 1fr));
}
@media (min-width: 76.875em) {
  .row-popular__items {
    gap: 34px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .row-popular__items {
    gap: clamp( 20px , 15.0769230769px  +  1.5384615385vw , 34px );
  }
}
@media (max-width: 20em) {
  .row-popular__items {
    gap: 20px;
  }
}
@media (max-width: 34.375em) {
  .row-popular__items {
    grid-template-columns: 1fr;
  }
}

.item-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}
@media (min-width: 76.875em) {
  .item-popular {
    gap: 14px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-popular {
    gap: clamp( 8px , 5.8901098901px  +  0.6593406593vw , 14px );
  }
}
@media (max-width: 20em) {
  .item-popular {
    gap: 8px;
  }
}
.item-popular__image {
  aspect-ratio: 320/340;
  width: 100%;
}
.item-popular__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-popular__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 76.875em) {
  .item-popular__content {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-popular__content {
    gap: clamp( 10px , 6.4835164835px  +  1.0989010989vw , 20px );
  }
}
@media (max-width: 20em) {
  .item-popular__content {
    gap: 10px;
  }
}
@media (max-width: 62.375em) {
  .item-popular__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 29.5em) {
  .item-popular__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.item-popular__title {
  font-family: "KoPub Batang", sans-serif;
}
@media (min-width: 76.875em) {
  .item-popular__title {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-popular__title {
    font-size: clamp( 16px , 15.2967032967px  +  0.2197802198vw , 18px );
  }
}
@media (max-width: 20em) {
  .item-popular__title {
    font-size: 16px;
  }
}
.item-popular__price {
  line-height: 120%; /* 18/15 */
}
@media (min-width: 76.875em) {
  .item-popular__price {
    font-size: 15px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-popular__price {
    font-size: clamp( 12px , 10.9450549451px  +  0.3296703297vw , 15px );
  }
}
@media (max-width: 20em) {
  .item-popular__price {
    font-size: 12px;
  }
}

.memories__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 76.875em) {
  .memories__container {
    gap: 76px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .memories__container {
    gap: clamp( 25px , 7.0659340659px  +  5.6043956044vw , 76px );
  }
}
@media (max-width: 20em) {
  .memories__container {
    gap: 25px;
  }
}
@media (max-width: 62.8125em) {
  .memories__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 38.125em) {
  .memories__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.column-memories--left {
  width: 42.833333%; /* 514/1200 */
}
.column-memories--right {
  width: 50.916667%; /* 611/1200 */
}
@media (max-width: 38.125em) {
  .column-memories {
    width: 100%;
  }
}
.column-memories__inner--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 76.875em) {
  .column-memories__inner--left {
    gap: 88px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-memories__inner--left {
    gap: clamp( 20px , -3.9120879121px  +  7.4725274725vw , 88px );
  }
}
@media (max-width: 20em) {
  .column-memories__inner--left {
    gap: 20px;
  }
}
.column-memories__inner--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 76.875em) {
  .column-memories__inner--right {
    gap: 66px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-memories__inner--right {
    gap: clamp( 20px , 3.8241758242px  +  5.0549450549vw , 66px );
  }
}
@media (max-width: 20em) {
  .column-memories__inner--right {
    gap: 20px;
  }
}
.column-memories__title {
  width: 45.625rem;
  text-wrap: balance;
}
@media (max-width: 62.8125em) {
  .column-memories__title {
    width: 100%;
  }
}
@media (max-width: 38.125em) {
  .column-memories__title {
    text-align: center;
  }
}
.column-memories__image--left {
  aspect-ratio: 514/430;
}
.column-memories__image--right {
  width: 72.99509%;
}
@media (max-width: 62.8125em) {
  .column-memories__image--right {
    width: 100%;
  }
}
.column-memories__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contet-memories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 76.875em) {
  .contet-memories {
    gap: 53px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .contet-memories {
    gap: clamp( 25px , 15.1538461538px  +  3.0769230769vw , 53px );
  }
}
@media (max-width: 20em) {
  .contet-memories {
    gap: 25px;
  }
}
.contet-memories__text {
  max-width: 38.125rem;
  text-align: left;
}
@media (min-width: 76.875em) {
  .contet-memories__text {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .contet-memories__text {
    font-size: clamp( 13px , 11.5934065934px  +  0.4395604396vw , 17px );
  }
}
@media (max-width: 20em) {
  .contet-memories__text {
    font-size: 13px;
  }
}
@media (min-width: 76.875em) {
  .contet-memories__text p:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .contet-memories__text p:not(:last-child) {
    margin-bottom: clamp( 10px , 6.4835164835px  +  1.0989010989vw , 20px );
  }
}
@media (max-width: 20em) {
  .contet-memories__text p:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contet-memories__button {
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}
@media (max-width: 38.125em) {
  .contet-memories__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.discount__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 76.875em) {
  .discount__container {
    gap: 37px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .discount__container {
    gap: clamp( 20px , 14.021978022px  +  1.8681318681vw , 37px );
  }
}
@media (max-width: 20em) {
  .discount__container {
    gap: 20px;
  }
}
@media (max-width: 69.0625em) {
  .discount__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 32.1875em) {
  .discount__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.column-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-discount--left {
  width: 41.833333%; /* 502/1200 */
}
@media (min-width: 76.875em) {
  .column-discount--left {
    gap: 75px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-discount--left {
    gap: clamp( 30px , 14.1758241758px  +  4.9450549451vw , 75px );
  }
}
@media (max-width: 20em) {
  .column-discount--left {
    gap: 30px;
  }
}
@media (max-width: 32.1875em) {
  .column-discount--left {
    width: 100%;
  }
}
.column-discount--right {
  width: 54.916667%; /* 659/1200 */
}
@media (min-width: 76.875em) {
  .column-discount--right {
    gap: 53px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-discount--right {
    gap: clamp( 25px , 15.1538461538px  +  3.0769230769vw , 53px );
  }
}
@media (max-width: 20em) {
  .column-discount--right {
    gap: 25px;
  }
}
@media (max-width: 32.1875em) {
  .column-discount--right {
    width: 100%;
  }
}
.column-discount__title {
  width: 41.875rem;
}
@media (max-width: 69.0625em) {
  .column-discount__title {
    width: 100%;
    text-align: center;
  }
}
.column-discount__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-discount__image--right {
  width: 30.375rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 69.0625em) {
  .column-discount__image--right {
    width: 100%;
  }
}
.column-discount__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.0625rem;
}
.column-discount__text {
  max-width: 32.5rem;
}
@media (min-width: 76.875em) {
  .column-discount__text {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-discount__text {
    font-size: clamp( 13px , 11.5934065934px  +  0.4395604396vw , 17px );
  }
}
@media (max-width: 20em) {
  .column-discount__text {
    font-size: 13px;
  }
}
.column-discount__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
}
@media (max-width: 32.1875em) {
  .column-discount__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.catalog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 47.5em) {
  .catalog__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.column-catalog--flex {
  width: 33.333333%; /* 400/1200 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.column-catalog--flex > * {
  margin-bottom: 0.875rem;
}
.column-catalog--flex > *:last-child {
  margin-bottom: 0rem;
}
@media (max-width: 47.5em) {
  .column-catalog--flex {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}
.column-catalog--grid {
  padding-top: 3.25rem;
  display: grid;
  width: 64.166667%; /* 770/1200 */
}
@media (min-width: 76.875em) {
  .column-catalog--grid {
    gap: 78px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-catalog--grid {
    gap: clamp( 30px , 13.1208791209px  +  5.2747252747vw , 78px );
  }
}
@media (max-width: 20em) {
  .column-catalog--grid {
    gap: 30px;
  }
}
@media (max-width: 47.5em) {
  .column-catalog--grid {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 47.5em) {
  .column-catalog__title {
    text-align: center;
  }
}
.column-catalog__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15.625rem, 100%), 1fr));
}
@media (min-width: 76.875em) {
  .column-catalog__grid {
    gap: 30px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-catalog__grid {
    gap: clamp( 15px , 9.7252747253px  +  1.6483516484vw , 30px );
  }
}
@media (max-width: 20em) {
  .column-catalog__grid {
    gap: 15px;
  }
}
.column-catalog__button {
  margin-bottom: -0.625rem;
  margin-left: 0.625rem;
}
@media (max-width: 47.5em) {
  .column-catalog__button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.follow__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 76.875em) {
  .follow__container {
    gap: 34px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .follow__container {
    gap: clamp( 20px , 15.0769230769px  +  1.5384615385vw , 34px );
  }
}
@media (max-width: 20em) {
  .follow__container {
    gap: 20px;
  }
}
@media (max-width: 37.5em) {
  .follow__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.column-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.column-follow--left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 29.875rem;
          flex: 1 1 29.875rem;
}
@media (min-width: 76.875em) {
  .column-follow--left {
    gap: 56px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow--left {
    gap: clamp( 20px , 7.3406593407px  +  3.956043956vw , 56px );
  }
}
@media (max-width: 20em) {
  .column-follow--left {
    gap: 20px;
  }
}
@media (max-width: 37.5em) {
  .column-follow--left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.column-follow--right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 43rem;
          flex: 1 1 43rem;
  padding-top: 3.875rem;
}
@media (min-width: 76.875em) {
  .column-follow--right > * {
    margin-bottom: 41px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow--right > * {
    margin-bottom: clamp( 20px , 12.6153846154px  +  2.3076923077vw , 41px );
  }
}
@media (max-width: 20em) {
  .column-follow--right > * {
    margin-bottom: 20px;
  }
}
.column-follow--right > *:last-child {
  margin-bottom: 0rem;
}
@media (max-width: 37.5em) {
  .column-follow--right {
    padding: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.column-follow__image {
  aspect-ratio: 477/447;
}
.column-follow__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-follow__text {
  line-height: 117.647059%; /* 20/17 */
  text-align: left;
}
@media (min-width: 76.875em) {
  .column-follow__text {
    font-size: 17px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow__text {
    font-size: clamp( 13px , 11.5934065934px  +  0.4395604396vw , 17px );
  }
}
@media (max-width: 20em) {
  .column-follow__text {
    font-size: 13px;
  }
}
@media (max-width: 37.5em) {
  .column-follow__title {
    text-align: center;
  }
}
.column-follow__link {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 121.73913%; /* 28/23 */
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
}
@media (min-width: 76.875em) {
  .column-follow__link {
    font-size: 23px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow__link {
    font-size: clamp( 18px , 16.2417582418px  +  0.5494505495vw , 23px );
  }
}
@media (max-width: 20em) {
  .column-follow__link {
    font-size: 18px;
  }
}
@media (min-width: 76.875em) {
  .column-follow__link {
    margin-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow__link {
    margin-bottom: clamp( 20px , 5.9340659341px  +  4.3956043956vw , 60px );
  }
}
@media (max-width: 20em) {
  .column-follow__link {
    margin-bottom: 20px;
  }
}
.column-follow__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  width: 0;
  background-color: rgb(219, 204, 186);
  height: 0.125rem;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
html[data-input=mouse] .column-follow__link:hover {
  text-shadow: 1px 3px 4px #2C2C2C;
}
html[data-input=mouse] .column-follow__link:hover::after {
  width: 100%;
}
@media (max-width: 37.5em) {
  .column-follow__link {
    text-align: center;
  }
}
.column-follow__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(13.125rem, 100%), 1fr));
}
@media (min-width: 76.875em) {
  .column-follow__images {
    gap: 35px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .column-follow__images {
    gap: clamp( 15px , 7.967032967px  +  2.1978021978vw , 35px );
  }
}
@media (max-width: 20em) {
  .column-follow__images {
    gap: 15px;
  }
}
@media (max-width: 37.5em) {
  .column-follow__images {
    grid-template-columns: 1fr;
  }
}

.image-follow img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@-webkit-keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@keyframes jumpArrow {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
@keyframes arrowMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@keyframes shine {
  0% {
    left: -80%;
  }
  100% {
    left: 120%;
  }
}
@font-face {
  font-family: "KoPub Batang";
  src: url(/src/assets/fonts/KoPubBatang-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "KoPub Batang";
  src: url(/src/assets/fonts/KoPubBatang-Light.woff2) format("woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KoPub Batang";
  src: url(/src/assets/fonts/KoPubBatang-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iconfont";
  src: url("/src/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "iconfont";
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-like"]::before {
  content: "\e903";
}

[class*="--icon-arrow-bt"]::before {
  content: "\e900";
}

[class*="--icon-i-fb"]::before {
  content: "\e904";
}

[class*="--icon-instagram"]::before {
  content: "\e902";
}

[class*="--icon-user"]::before {
  content: "\e917";
}

[class*="--icon-mail1"]::before {
  content: "\e91c";
}

[class*="--icon-search"]::before {
  content: "\e921";
}

[class*="--icon-card-icon"]::before {
  content: "\e901";
}

[class*="--icon-telegram"]::before {
  content: "\e92c";
}

.components__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
  padding-top: 3.125rem;
}
.icon-menu {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-menu::before, .icon-menu::after {
  content: "";
  position: absolute;
  left: 0;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: rgb(44, 44, 44);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-menu::before {
  top: 0;
  width: 100%;
}
.icon-menu::after {
  bottom: 0;
  width: 50%;
}
.icon-menu span {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  background-color: rgb(44, 44, 44);
  width: 75%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 45.06125em) {
  .icon-menu {
    display: none;
  }
}

.menu-open .icon-menu::before {
  top: 50%;
  rotate: 45deg;
  translate: 0 -50%;
}
.menu-open .icon-menu::after {
  top: 50%;
  rotate: -45deg;
  translate: 0 -50%;
  width: 100%;
}
.menu-open .icon-menu span {
  width: 0;
}

.icon-more {
  position: relative;
  width: 0.9375rem;
  height: 0.9375rem;
  z-index: 10;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.icon-more::before, .icon-more::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.375rem;
}
.icon-more::before {
  left: 0;
  top: 50%;
  translate: 0 -50%;
}
.icon-more::after {
  rotate: 90deg;
  top: 50%;
  translate: 0 -50%;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  line-height: 1.37;
  text-transform: capitalize;
  gap: 0.4375rem;
  background-color: rgb(219, 204, 186);
  padding-block: 0.5625rem;
  padding-inline: 1.75rem;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button::before {
  rotate: 180deg;
  font-size: 0.875rem;
  will-change: animation;
}
.button::after {
  content: "";
  position: absolute;
  inset: -0.625rem;
  border: 0.0625rem solid rgb(219, 204, 186);
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.button--order {
  padding-inline: 3.4375rem;
}
.button--more {
  padding-inline: 1.875rem;
}
html[data-input=mouse] .button:hover {
  background-color: rgb(165, 143, 117);
  color: #fff;
}
html[data-input=mouse] .button:hover::before {
  -webkit-animation: arrowMove 0.8s ease-in-out infinite;
          animation: arrowMove 0.8s ease-in-out infinite;
}
html[data-input=mouse] .button:hover::after {
  border-color: rgb(165, 143, 117);
}
.title {
  font-family: "KoPub Batang", sans-serif;
  font-weight: 300;
  line-height: 110%; /* 66/60 */
  color: rgb(0, 0, 0);
}
@media (min-width: 76.875em) {
  .title {
    font-size: 60px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .title {
    font-size: clamp( 26px , 14.043956044px  +  3.7362637363vw , 60px );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 26px;
  }
}

.item-catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
}
@media (min-width: 76.875em) {
  .item-catalog--margin {
    margin-bottom: 60px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-catalog--margin {
    margin-bottom: clamp( 30px , 19.4505494505px  +  3.2967032967vw , 60px );
  }
}
@media (max-width: 20em) {
  .item-catalog--margin {
    margin-bottom: 30px;
  }
}
.item-catalog__image {
  aspect-ratio: 1;
  overflow: hidden;
}
.item-catalog__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: scale 0.5s ease;
  transition: scale 0.5s ease;
  will-change: scale;
}
html[data-input=mouse] .item-catalog__image img:hover {
  scale: 1.05;
}
.item-catalog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item-catalog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  width: 100%;
}
.item-catalog__title {
  font-family: "KoPub Batang", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 110%; /* 22/20 */
}
@media (min-width: 76.875em) {
  .item-catalog__title {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-catalog__title {
    font-size: clamp( 16px , 14.5934065934px  +  0.4395604396vw , 20px );
  }
}
@media (max-width: 20em) {
  .item-catalog__title {
    font-size: 16px;
  }
}
.item-catalog__price {
  line-height: 122.222222%; /* 22/18 */
  color: rgb(78, 78, 78);
}
@media (min-width: 76.875em) {
  .item-catalog__price {
    font-size: 18px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .item-catalog__price {
    font-size: clamp( 14px , 12.5934065934px  +  0.4395604396vw , 18px );
  }
}
@media (max-width: 20em) {
  .item-catalog__price {
    font-size: 14px;
  }
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.actions__button {
  line-height: 0;
  -webkit-transition: scale 0.3s ease, color 0.3s;
  transition: scale 0.3s ease, color 0.3s;
  will-change: scale;
}
html[data-input=mouse] .actions__button:hover {
  scale: 1.05;
  color: #948e8e;
}

.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: rgb(153, 153, 153);
}
.decor__number {
  line-height: 1.37;
}
@media (min-width: 76.875em) {
  .decor__number {
    font-size: 14px;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  .decor__number {
    font-size: clamp( 10px , 8.5934065934px  +  0.4395604396vw , 14px );
  }
}
@media (max-width: 20em) {
  .decor__number {
    font-size: 10px;
  }
}
.decor__line {
  width: 12rem;
  height: 0.0625rem;
  background-color: rgb(153, 153, 153);
}

html,
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Carme", sans-serif;
  line-height: 1.5;
  color: rgb(44, 44, 44);
  background-color: rgb(248, 243, 236);
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

html[data-input=mouse] .menu-dropdown__item--submenu:hover > .menu-dropdown__submenu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

html[data-input=keyboard] > * :focus-visible {
  outline: 0.125rem solid #000;
  outline-offset: 0.25rem;
}
html[data-input=keyboard] .is-active .submenu-dropdowne {
  display: block;
}

html[data-input=touch] .menu-dropdown__item--submenu.is-active .menu-dropdown__link::before {
  rotate: -90deg;
}

[data-accordion-body] {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-accordion].active .header-approach__title {
  color: #000;
}
[data-accordion].active .header-approach__icon span::after {
  rotate: -180deg;
}

.active [data-accordion-icon] {
  background-color: #000;
}

html[init-page-loader=ready] body.menu-open.scroll-lock {
  overflow: hidden;
}