@use '../settings/settings' as *;
@use '../settings/mixins' as *;


// ===========================================================================================
// -----------------------------
// page
// -----------------------------
.page {


   // .page__hero
   &__hero {
      @include adaptiveValue('padding-top', 150, 100);
      @include adaptiveValue('padding-bottom', 50, 25);
   }

   // .page__popular
   &__popular {
      // display: none;
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__memories
   &__memories {
      // display: none;
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__discount
   &__discount {
      // display: none;
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__catalog
   &__catalog {
      // display: none;
      @include adaptiveValue('padding-block', 50, 25);
   }

   // .page__follow
   &__follow {
      // display: none;
      @include adaptiveValue('padding-top', 50, 25);
      @include adaptiveValue('padding-bottom', 100, 50);
   }
}


// ===========================================================================================
// -----------------------------
// hero
// -----------------------------
.hero {

   // .hero__container
   &__container {

      &.hero__container--1600 {
         max-width: toRem(1600);
      }
      display: flex;
      gap: toRem(56);

      @media (max-width: toEm(690)) {
        flex-direction: column;
      }
   }

   // .hero__column
   &__column {}
}

.column-hero {

   // .column-hero--left
   &--left {
      flex: 1 1 toRem(902);
      display: flex;
      flex-direction: column;
      @include adaptiveValue('gap',82,30);
      padding-top: toRem(100);

      &:has(.column-hero__title) {
         .column-hero__title {
            @include adaptiveValue('padding-left', 200, 10);

            @media (max-width: toEm(1100)) {
               padding-left: 0;
            }
         }
      }

      @media (max-width: toEm(690)) {
        padding-top: 0;
        flex: 0;
      }
   }

   // .column-hero--rigth
   &--rigth {
      flex: 1 1 toRem(587);
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptiveValue('gap',100,20);

      @media (max-width: toEm(690)) {
        flex: 0;
      }
   }

   // .column-hero__title
   &__title {
      font-family: "KoPub Batang",sans-serif;
      @include adaptiveValue('font-size', 70, 40);
      // max-width: toRem(750);
      line-height: 110%; /* 77/70 */
      font-weight: 300;

      @media (max-width: toEm(690)) {
        text-align: center;
      }
   }

   // .column-hero__body
   &__body {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(280),100%),1fr));
      @include adaptiveValue('gap',83,30);
      align-items: center;

      @media (max-width: toEm(690)) {
        grid-template-columns: 1fr;
      }
   }

   // .column-hero__image
   &__image {
      aspect-ratio: 1;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      // .column-hero__image---rigth
      &---rigth {
         aspect-ratio: 587 / 565;
      }
   }

   // .column-hero__content
   &__content {}
}

.content-hero {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: toRem(50);
   // .content-hero__text
   &__text {}

   // .content-hero__button
   &__button {
      @media (max-width: toEm(690)) {
        align-self: center;
      }
   }
}


// ===========================================================================================
// -----------------------------
// popular
// -----------------------------
.popular {

   // .popular__container
   &__container {
      display: flex;
      @include adaptiveValue('column-gap', 40, 10);

      @media (max-width: toEm(550)) {
         flex-direction: column;
        @include adaptiveValue('row-gap', 30, 20);
      }
   }

   // .popular__column
   &__column {}

   // .popular__row
   &__row {}
}

.column-popular {
   display: flex;
   flex: 1 1 toRem(490);
   flex-direction: column;
   gap: toRem(14);
   // width: 40.416667%;

   @media (max-width: toEm(550)) {
     order: 2;
   }

   // .column-popular__image
   &__image {
      aspect-ratio: 1;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .column-popular__content
   &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > * {
         @include adaptiveValue('margin-bottom', 49, 10);
         &:last-child{
            // margin-bottom: toRem(0);
         }
      }
   }
}

.content-popular {

   // .content-popular__top
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap',20,10);
      width: 100%;

      @media (max-width: toEm(603)) {
         flex-direction: column;
         align-items: flex-start;
      }
      @media (max-width: toEm(550)) {
        flex-direction: row;
      }
   }

   // .content-popular__title
   &__title {
      font-family: "KoPub Batang", sans-serif;
      @include adaptiveValue('font-size', 18, 14);
   }

   // .content-popular__price
   &__price {
      @include adaptiveValue('font-size', 15, 12);
   }

   // .content-popular__text
   &__text {
      margin-bottom: toRem(27);
      max-width: toRem(489);
      @include adaptiveValue('font-size', 17, 14);
      line-height: 1.37;
   }

   // .content-popular__button
   &__button {
      margin-bottom: toRem(10);
      margin-left: toRem(10);

      @media (max-width: toEm(550)) {
        align-self: center;
      }
   }
}

.row-popular {
   flex: 1 1 toRem(670);
   align-self: center;

   @media (max-width: toEm(550)) {
     order: 1;
   }

   // .row-popular__title
   &__title {
      @include adaptiveValue('margin-bottom', 61, 30);
   }

   // .row-popular__items
   &__items {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(min(toRem(210),100%),1fr));
      @include adaptiveValue('gap',34,20);

      @media (max-width: toEm(550)) {
        grid-template-columns: 1fr;
      }
   }
}

.item-popular {
   display: flex;
   flex-direction: column;
   flex: 1 1 toRem(320);
   @include adaptiveValue('gap',14,8);

   // .item-popular__image
   &__image {
      aspect-ratio: 320 / 340;
      width: 100%;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .item-popular__content
   &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap',20,10);

      @media (max-width: toEm(998)) {
        flex-direction: column;
        align-items: flex-start;

      }

      @media (max-width: toEm(543)) {
         // flex-direction: column;
         // align-items: flex-start;
      }
      @media (max-width: toEm(472)) {
        flex-direction: row;
        align-items: center;
      }
   }

   // .item-popular__title
   &__title {
      font-family: "KoPub Batang", sans-serif;
      @include adaptiveValue('font-size', 18, 16);
   }

   // .item-popular__price
   &__price {
      @include adaptiveValue('font-size', 15, 12);
      line-height: 120%; /* 18/15 */
   }
}


// ===========================================================================================
// -----------------------------
// memories
// -----------------------------
.memories {

   // .memories__container
   &__container {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap',76,25);

      @media (max-width: toEm(1005)) {
        align-items: flex-start;
      }

      @media (max-width: toEm(610)) {
        flex-direction: column;
      }
   }
}

.column-memories {

   &--left {
      width: 42.833333%; /* 514/1200 */
   }

   &--right {
      width: 50.916667%; /* 611/1200 */
   }

   @media (max-width: toEm(610)) {
      width: 100%;
   }

   // .column-memories__inner
   &__inner {

      &--left {
         display: flex;
         flex-direction: column;
         @include adaptiveValue('gap',88,20);
      }

      &--right {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         @include adaptiveValue('gap',66,20);
      }
   }

   // .column-memories__title
   &__title {
      width: toRem(730);
      text-wrap: balance;

      @media (max-width: toEm(1005)) {
        width: 100%;
      }
      @media (max-width: toEm(610)) {
        text-align: center;
      }
   }

   // .column-memories__image
   &__image {

      &--left {
         aspect-ratio: 514 / 430;
      }

      &--right {
         // aspect-ratio: 446 / 375;
         width: 72.99509%;
         // flex: 0 0 toRem(446);

         @media (max-width: toEm(1005)) {
           width: 100%;
         }
      }

      img {
         // width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.contet-memories {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   @include adaptiveValue('gap',53,25);
   // .contet-memories__text
   &__text {
      max-width: toRem(610);
      text-align: left;
      @include adaptiveValue('font-size', 17, 13);

      p {
         &:not(:last-child) {
            @include adaptiveValue('margin-bottom', 20, 10);
         }
      }
   }

   // .contet-memories__button
   &__button {
      margin-bottom: toRem(10);
      margin-right: toRem(10);
      @media (max-width: toEm(610)) {
        align-self: center;
      }
   }
}

// ===========================================================================================
// -----------------------------
// discount
// -----------------------------
.discount {

   // .discount__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap',37,20);

      @media (max-width: toEm(1105)) {
        align-items: flex-start;
      }
      @media (max-width: toEm(515)) {
        flex-direction: column;
      }
   }
}

.column-discount {
   display: flex;
   flex-direction: column;

   @media (max-width: toEm(515)) {

   }
   // .column-discount--left
   &--left {
      width: 41.833333%; /* 502/1200 */
      @include adaptiveValue('gap',75,30);

      @media (max-width: toEm(515)) {
         width: 100%;
      }
   }

   // .column-discount--right
   &--right {
      width: 54.916667%; /* 659/1200 */
      @include adaptiveValue('gap',53,25);

      @media (max-width: toEm(515)) {
        width: 100%;
      }
   }

   // .column-discount__title
   &__title {
      width: toRem(670);

      @media (max-width: toEm(1105)) {
        width: 100%;
        text-align: center;
      }
   }

   // .column-discount__image
   &__image {

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      // .column-discount__image--left
      &--left {
         // width: toRem(502);
         @media (max-width: toEm(515)) {
         //   width: 100%;
         }
      }

      // .column-discount__image--right
      &--right {
         width: toRem(486);
         align-self: flex-end;

         @media (max-width: toEm(1105)) {
           width: 100%;
         }
      }
   }

   // .column-discount__content
   &__content {
      display: flex;
      flex-direction: column;
      gap: toRem(33);
   }

   // .column-discount__text
   &__text {
      @include adaptiveValue('font-size', 17, 13);
      max-width: toRem(520);
      // translate: toRem(-138) 0;

      @media (max-width: toEm(1160)) {
      //   translate: 0 0;
      }
   }

   // .column-discount__button
   &__button {
      align-self: flex-end;
      margin-bottom: toRem(10);
      margin-right: toRem(10);

      @media (max-width: toEm(515)) {
        align-self: center;
      }
   }
}

// ===========================================================================================
// -----------------------------
// discount
// -----------------------------
.catalog {

   // .catalog__container
   &__container {
      display: flex;
      gap: toRem(30);

      @media (max-width: toEm(760)) {
        flex-direction: column;
      }
   }

   // .catalog__column
   &__column {}
}

.column-catalog {

   &--flex {
      width: 33.333333%; /* 400/1200 */
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > * {
         margin-bottom: toRem(14);
         &:last-child {
            margin-bottom: toRem(0);
         }
      }

      @media (max-width: toEm(760)) {
         order: 2;
         width: 100%;
      }
   }

   &--grid {
      padding-top: toRem(52);
      display: grid;
      @include adaptiveValue('gap',78,30);
      width: 64.166667%; /* 770/1200 */

      @media (max-width: toEm(760)) {
        order: 1;
        width: 100%;
        padding: 0;
      }
   }

   // .column-catalog__title
   &__title {

      @media (max-width: toEm(760)) {
        text-align: center;
      }
   }

   // .column-catalog__grid
   &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(min(toRem(250),100%),1fr));
      @include adaptiveValue('gap',30,15);
   }

   &__button {
      margin-bottom: toRem(-10);
      margin-left: toRem(10);

      @media (max-width: toEm(760)) {
        align-self: center;
      }
   }
}

// ===========================================================================================
// -----------------------------
// follow
// -----------------------------
.follow {

   // .follow__container

   &__container {
      display: flex;
      @include adaptiveValue('gap',34,20);

      @media (max-width: toEm(600)) {
        flex-direction: column;
      }
   }

   // .follow__column
   &__column {}
}

.column-follow {
   display: flex;
   flex-direction: column;

   &--left {
      flex: 1 1 toRem(478);
      @include adaptiveValue('gap',56,20);

      @media (max-width: toEm(600)) {
        order: 2;
        flex: 0;
      }
   }

   &--right {
      flex: 1 1 toRem(688);
      padding-top: toRem(62);
      > * {
         @include adaptiveValue('margin-bottom', 41, 20);
         &:last-child {
            margin-bottom: toRem(0);
         }
      }

      @media (max-width: toEm(600)) {
        padding: 0;
        order: 1;
      }
   }

   // .column-follow__image
   &__image {
      aspect-ratio: 477 / 447;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .column-follow__text
   &__text {
      @include adaptiveValue('font-size', 17, 13);
      line-height: 117.647059%; /* 20/17 */
      text-align: left;
   }

   // .column-follow__title
   &__title {
      @media (max-width: toEm(600)) {
        text-align: center;
      }
   }

   // .column-follow__link
   &__link {
      position: relative;
      align-self: flex-start;
      @include adaptiveValue('font-size', 23, 18);
      line-height: 121.73913%; /* 28/23 */
      @include adaptiveValue('margin-bottom', 60, 20);
      transition: text-shadow 0.3s;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
        width: 0;
        background-color: $bgButton;
        height: toRem(2);
        transition: width 0.4s ease;
      }

      @include hover {
         text-shadow:  1px 3px 4px #2C2C2C;
         &::after {
            width: 100%;
         }
      }

      @media (max-width: toEm(600)) {
        text-align: center;
      }
   }

   // .column-follow__images
   &__images {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(min(toRem(210),100%),1fr));
      @include adaptiveValue('gap',35,15);

      @media (max-width: toEm(600)) {
        grid-template-columns: 1fr;
      }
   }
}

.image-follow {

   img {
      width: 100%;
      height: auto;
      object-fit: cover;
   }

   // .image-follow__img
   &__img {}
}
